body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Ubuntu', 'Segoe UI', 'Roboto', 'Oxygen', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: bisque;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.all-movies {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly
}

.card {
  width: 500px;
  height: 750px;
  display:flex;
  flex-direction: column;
  justify-content: end;
  border-radius: 10px;
  margin-bottom: 20px;
}

.movie-title, .movie-release {
  background-color:blanchedalmond;
  opacity: 70%;
  color:black;
  width:fit-content;
  border-radius: 5px;
}

a {
  text-decoration: none;
}